@charset "utf-8"; /* 인코딩 선언 얘는 꼭! 빠지면 안된다. 반드시 위에 위치 */
@import url("font.css"); /* 용도 별로 쪼개놓기 복붙하면 너무 길어지기 때문에 @import로 가져오기 */
@import url("normalize.css");

/* 스타일 초기화 */
html, body, h1, h2, h3, h4, h5, h6, p{
border: 0;
padding: 0;
margin: 0;
}

html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  background: #7AC7AA ;
  font-family:"HyundaiRegular";
}
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight: normal;
}
/* 섹션 1 콘텐츠 레이아웃 */
.section1{
  display: grid;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  position: relative;
  justify-content: center;
}
.section1::after{
  content:"";
  background: repeating-linear-gradient(to right, hsla(0,50%,50%,.5), hsla(0,50%,50%,.5) 65px, transparent 65px, transparent 85px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 100vh;
  
}
/* 로고 */
.logo{
  font-size: 8rem;
  color: #fff;
  font-family:"HyundaiExtraBold";
  grid-column: 4/ span 6;
  grid-row: 1/2;
}
/* 웨더 앱 소개 */
.description{
  color: #fff;
  font-size: 2rem;
  padding: 0 0 0 50px; /* 시계 방향 */
  line-height: 1.5; /* 글자 간격 */
  grid-column: 7/ span 6;
  grid-row: 2/3;
}
.description span{
  display: block;

}

/* 앱 소개 이미지 */
.image-wrapper{
  grid-column: 1/span 4;
  grid-row: 2/3;
}

.image-wrapper img{
  max-width: 100%;
  height: auto;
}