@charset "utf-8"; /* 인코딩 선언 얘는 꼭! 빠지면 안된다. 반드시 위에 위치 */
@import url("font.css"); /* 용도 별로 쪼개놓기 복붙하면 너무 길어지기 때문에 @import로 가져오기 */
@import url("normalize.css");

/* 스타일 초기화 */
html, body, h1, h2, h3, h4, h5, h6, p{
border: 0;
padding: 0;
margin: 0;
}

html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight: normal;
}